<phpunit
    backupGlobals="false"
    bootstrap="./vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnError="false"
    stopOnFailure="false"
    verbose="true">

    <testsuites>
        <testsuite name="vendorname">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>

    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />
        <ini name="log_errors" value="On" />
        <ini name="report_memleaks" value="1" />
        <ini name="track_errors" value="1" />
        <ini name="memory_limit" value="1024M" />
    </php>

</phpunit>
